/* Custom CSS can be placed here */

.tbl-table {
	border: 1px solid #ddd;
	border-collapse: collapse;
}
.tbl-thead {
	font-weight: bold;
	background-color: #eeeeee;
}
.tbl-tr {
	border-bottom: 1px solid #ddd;
}
td {
	padding: 5px;
}

