/* Custom CSS can be placed here */


.displaytable {
	border: 1px solid #ddd;
	border-collapse: collapse;
}
.displaytable-thead {
	font-weight: bold;
	background-color: #ddd;
}
.displaytable .displaytable-thead > tr {
	border-bottom: 1px solid #ddd;
}
.displaytable .displaytable-thead > tr > td {
	padding: 5px;
}
.displaytable-tbody {
	background-color: #ffffff;
}
.displaytable .displaytable-tbody > tr {
	border-bottom: 1px solid #ddd;
}
.displaytable .displaytable-tbody > tr > td {
	padding: 5px;
}
.displaytable .displaytable-tbody > tr:nth-child(even) {
	background-color: #f8f8f8;
}

.footnote {
	font-size: smaller;
}
.numericfield {
	width: 100px;
}